body {
  background-color: #35465c;
}
.section {
  color: white;
  text-align:center;
}
.section h1 {
  font-size: 2em;
}
.section p {
  margin: 0 20% 0 20%;
  font-size: 1em;
}
.splash-svg {
  max-width: 80%;
  margin: 0 20% 0 20%;
}
#section1 {
    background-image:url('https://78.media.tumblr.com/0963b5b12adf8d429dbefa0adea91443/tumblr_p392n8vLho1ts562ko1_1280.jpg');
    background-size: cover;
    background-position: center 80%;
}
