body {
  background-color: #35465c;
}
h5 {
  color: black;
}
.navbar {
  position: absolute;
  width: 100%;
  z-index: 9;
  background: rgba(0,0,0,0);
}
.center-input-group {
  text-align: center;
  margin: auto 10% 30px 42%;
}
.center-input-group * {
  border-radius: 0px;
}
.center-input-group .btn {
  margin: 5px 0 20px 0;
}
::placeholder {
    color: darkgrey;
    opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: darkgrey;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: darkgrey;
}
.btn-signin-splash {
  margin: 5px;
  background:rgba(255,255,255,1);
}
.btn-login-splash {
  margin: 5px;
  color: white;
  background: rgba(0,0,0,0.2);
}
.navbar-brand {
  width: 42px;
  height: 68px;
  display: block;
    background-image: url('../../src/assets/img/logos/1@2x.png');
  -webkit-filter: brightness(1000%); /* Safari */
  filter: brightness(1000%);
}
:hover.navbar-brand {
  -webkit-filter: brightness(100%); /* Safari */
  filter: brightness(100%);
  background-image: url('../../src/assets/img/logos/1@2x.png');
  animation: play 1s steps(48) infinite;
}
@keyframes play {
    100% { background-position: -1920px; }
}
#logo-word {
  min-width: 100px;
  max-width: 200px;
}
.btn-primary {
  background: rgb(100,157,200);
  border: none;
}
.store-icon {
  max-width: 150px;
}
.section {
  color: white;
  text-align:center;
}
.section h1 {
  font-size: 60px;
  margin: 20px;
}
.section h2 {
  margin: 20px;
  font-size: 16px;
}
.section p {
  margin: 0 20% 0 20%;
  font-size: 1em;
}
.splash-svg {
  max-width: 80%;
  margin: 0 30% 70px 30%;
}
.blogs-header {
  height: 30%;
  margin: 280px 5px 0 40px;
  text-align: left;
  max-width: 700px;
}
.blogs-header h1 {
  margin-left: 142px;
}
.blogs-list {
  height: 70%;
}
.blogs-column {
  width: 300px;
  margin: 20px;
}
.dashboard-graphic {
  max-width: 600px;
  margin: 50px;
}
.card-img {
  max-width: 600px;
}
.card-text {
  color: black;
}
.card-actions {
  margin: 5px;
}
.sample-blog-entries {

}
.number-of-notes {
  font-weight: bold;
  color: #8f8f8f;
}
.left-align {
  text-align: left;
}
.right-align {
  float: right;
  text-align: right;
}
.sample-blog-section-text {
  text-align: left;
  margin: 25% 0 0 0;
}
.card {
  margin: 10px;
}
.create-icon {
  margin: auto 20% 30px 20%;
}
.post-icon {
 margin: 50px 0 50px 0;
}
.icon-circle {
  margin: 50px 0 50px 0;
  padding: 50px;
  background-color: white;
  border-radius: 50%;
}
.icon-caption {
  padding-top: 60px;
  font-weight: bolder;
}
#section1 {
  background-image:url('https://78.media.tumblr.com/0963b5b12adf8d429dbefa0adea91443/tumblr_p392n8vLho1ts562ko1_1280.jpg');
  background-size: cover;
  background-position: center 80%;
}
#section4 {
  overflow-y: hidden;
}
