
<h3>Add New User to Tumblr</h3>
<div>
  <div>
    <label>Email:</label>
    <br>
    <input #newEmail>
  </div>

  <div>
    <label>User's Password:</label>
    <br>
    <input #newPassword>
  </div>

  <div>
    <label>User's First Name:</label>
    <br>
    <input #newFirstName>
  </div>

  <div>
    <label>User's Last Name:</label>
    <br>
    <input #newLastName>
  </div>

  <div>
    <label>Username:</label>
    <br>
    <input #newUsername>
  </div>

  <button (click)="submitForm(newEmail.value, newPassword.value, newFirstName.value, newLastName.value, newUsername.value); newEmail.value=''; newPassword.value=''; newFirstName.value=''; newLastName.value=''; newUsername.value=''">Add</button>

</div>


<h3>Current Users</h3>
<div *ngFor="let user of users | async" (click)="goToViewUser(user)" class="card">
  <div class="card-body">
    <h3>{{user.username}}</h3>
    <ul>
      <li>{{user.email}}</li>
      <li>{{user.firstName}} {{user.lastName}}</li>
    </ul>
  </div>
</div>
