<app-navbar></app-navbar>


<section id="t-cards">
    <div class="container">
        <div class="row">
             <div class="col-sm-6 col-md-3 ">
                <div class="panel panel-default panel-card">
                    <div class="panel-heading">
                        <img src="https://unsplash.imgix.net/12/barley.jpg?q=75&fm=jpg&s=f39de5ca1970a13dbe6af6c86b3c47ec" />
                        <button class="btn btn-primary btn-sm" role="button">Follow</button>
                    </div>
                    <div class="panel-figure">
                        <img class="img-responsive img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/73.jpg" />
                    </div>
                    <div class="panel-body text-center">
                        <h4 class="panel-header"><a href="https://twitter.com/maridlcrmn">@Maridlcrmn</a></h4>
                        <small>A short description goes here.</small>
                    </div>
                    <div class="panel-thumbnails">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="thumbnail">
                                    <img src="https://via.placeholder.com/60x60" />
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="thumbnail">
                                    <img src="https://via.placeholder.com/60x60" />
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="thumbnail">
                                    <img src="https://via.placeholder.com/60x60" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    		</div>
		    <div class="col-sm-6 col-md-3">
        	    <div class="panel panel-default panel-card">
                    <div class="panel-heading">
                        <img src="https://unsplash.imgix.net/41/bXoAlw8gT66vBo1wcFoO_IMG_9181.jpg?q=75&fm=jpg&s=a760fd82863937c841f4b3870cdef011" />
                        <button class="btn btn-primary btn-sm" role="button">Follow</button>
                    </div>
                    <div class="panel-figure">
                        <img class="img-responsive img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/josue/73.jpg" />
                    </div>
                    <div class="panel-body text-center">
                        <h4 class="panel-header"><a href="https://twitter.com/maridlcrmn">@Maridlcrmn</a></h4>
                        <small>A short description goes here.</small>
                    </div>
                    <div class="panel-thumbnails">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="thumbnail">
                                    <img src="https://via.placeholder.com/60x60" />
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="thumbnail">
                                    <img src="https://via.placeholder.com/60x60" />
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="thumbnail">
                                    <img src="https://via.placeholder.com/60x60" />
                                </div>
                            </div>
                        </div>
                    </div>
            	</div>
    		</div>
            <div class="col-sm-6 col-md-3">
                <div class="panel panel-default panel-card">
                    <div class="panel-heading">
                        <img src="https://ununsplash.imgix.net/19/waves.JPG?q=75&fm=jpg&s=6f316bc8e1dc9887a7cebe0841096e99" />
                        <button class="btn btn-primary btn-sm" role="button">Follow</button>
                    </div>
                    <div class="panel-figure">
                        <img class="img-responsive img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/mutlu82/73.jpg" />
                    </div>
                    <div class="panel-body text-center">
                        <h4 class="panel-header"><a href="https://twitter.com/maridlcrmn">@Maridlcrmn</a></h4>
                        <small>A short description goes here.</small>
                    </div>
                    <div class="panel-thumbnails">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="thumbnail">
                                    <img src="https://via.placeholder.com/60x60" />
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="thumbnail">
                                    <img src="https://via.placeholder.com/60x60" />
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="thumbnail">
                                    <img src="https://via.placeholder.com/60x60" />
                                </div>
                            </div>
                        </div>
                    </div>
            	</div>
    		</div>
            <div class="col-sm-6 col-md-3">
                <div class="panel panel-default panel-card">
                    <div class="panel-heading">
                        <img src="https://ununsplash.imgix.net/26/camera-keys.jpg?q=75&fm=jpg&s=b919d3158053cde8e9f0e37b4876c14f" />
                        <button class="btn btn-primary btn-sm" role="button">Follow</button>
                    </div>
                    <div class="panel-figure">
                        <img class="img-responsive img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/nisaanjani/73.jpg" />
                    </div>
                    <div class="panel-body text-center">
                        <h4 class="panel-header"><a href="https://twitter.com/maridlcrmn">@Maridlcrmn</a></h4>
                        <small>A short description goes here.</small>
                    </div>
                    <div class="panel-thumbnails">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="thumbnail">
                                    <img src="https://via.placeholder.com/60x60" />
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="thumbnail">
                                    <img src="https://via.placeholder.com/60x60" />
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="thumbnail">
                                    <img src="https://via.placeholder.com/60x60" />
                                </div>
                            </div>
                        </div>
                    </div>
            	</div>
    		</div>
	    </div>
    </div>
</section>


<div class="row dashboard-column">
<div class="col-md-8">
  <div class="jumbotron">
    <div *ngFor="let user of users | async" (click)="goToViewUser(user)" class="panel panel-default">
      <div class="panel-body">
        <h3>{{user.username}}</h3>
        <ul>
          <li>{{user.email}}</li>
          <li>{{user.firstName}} {{user.lastName}}</li>
        </ul>
      </div>
    </div>

  </div>
</div>
<div class="col-md-4">
<div class="jumbotron">What</div>
</div>
</div>

<!-- ADDED FOR ADMIN ACCESS, TEMP -->

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
    <a class="text-muted" href="admin">Admin</a>
  </div>
</footer>
